<!DOCTYPE html>
<html style="text-align: center">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <title>Canada Cities Population</title>
</head>

<body>
    <h1>Canada Cities Population</h1>
    <form id="form">
        <select id="province">
            <option value="0">Select Province</option>
            {% for province in provinces %}
            <option value="{{ province.id }}">{{ province.name }}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <select id="city">
            <option>Select City</option>
        </select>
        <br>
        <p id="pop_label"></p>
    </form>
</body>

</html>